<ion-view>

<ion-header-bar class="bar-dark">
    <h1 class="title">Scotch-Todo</h1>
    <!-- New Task button-->
    <button class="button button-icon" ng-click="showAddCompetitionModal ()">
        <i class="icon ion-compose"></i>
    </button>
</ion-header-bar>
    <ion-content>
    
       <ion-list>
         <ion-item ng-repeat="competition in competitions" ng-click="showEditCompetitionModal(competition)">
            <div style="float: left"> {{competition.Name}}</div>
            <div style="float: right"></div>
         </ion-item>
       </ion-list>
     </ion-content>
    
</ion-view>