<ion-view title="Entrainement">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-radio>Radio</ion-radio>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 49px;"></div>
            <ion-item class="range range-positive">Lacher
                <input type="range" value="0" min="0" max="10">
            </ion-item>
            <ion-item class="range range-positive">Position
                <input type="range" value="0" min="0" max="10">
            </ion-item>
            <ion-item class="range range-positive">Visée
                <input type="range" value="0" min="0" max="10">
            </ion-item>
            <ion-item class="range range-positive">T.A.S
                <input type="range" value="0" min="0" max="10">
            </ion-item>
            <ion-item class="range range-positive">Tenue
                <input type="range" value="0" min="0" max="10">
            </ion-item>
        </form>
    </ion-content>
</ion-view>