<ion-view>

	<ion-header-bar class="bar-stable">
      <div class="buttons">
        <button ng-click="showAddEntrainementModal()" class="button button-icon icon ion-plus"></button>
      </div>
    </ion-header-bar>
    <ion-content>
       <div class="buttons">
        <button ng-click="showAddEntrainementModal()" class="button button-icon icon ion-plus"></button>
      </div>
       <ion-list>
         <ion-item ng-repeat="entrainement in entrainements" ng-click="showEditEntrainementModal(entrainement)">
            <div style="float: left"> {{entrainement.Name}}</div>
            <div style="float: right">{{entrainement.Date | date:"dd MMMM yyyy" }}</div>
         </ion-item>
       </ion-list>
     </ion-content>
    
</ion-view>