<ion-view title="Mes entrainements">

    <ion-content>
      
       <ion-list>
         <ion-item ng-repeat="entrainement in entrainements | orderBy:'done'">
           <ion-checkbox ng-model="entrainement.done" ng-change="update(entrainement)">{{entrainement.title}}</ion-checkbox>
         </ion-item>
       </ion-list>

       <button class="right button button-icon icon ion-plus" ng-click="create()"></button>
       <ion-item collection-repeat="entrainement in entrainements">
    {{entrainement.title}}
  </ion-item>
     </ion-content>
</ion-view>