<ion-view title="Resumé">

<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" >
    </button>
  </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>Some friendly
                <strong>markdown</strong>
                Bienvenue sur l'application</p>
        </div>
        
        <div>
            <nvd3 options="optionsTps" data="dataTps"></nvd3>
        </div>
    </ion-content>
</ion-view>