<ion-modal-view> 
      <ion-header-bar>
        <h1 class="title">Tir</h1> 
        
      </ion-header-bar>
      <ion-content>
      <div class="padding">
          <button ng-click="setPauseDeb()" class="button button-block button-positive activated">Debut Pause</button>
        </div>
        <div class="padding">
          <button ng-click="setPauseFin()" class="button button-block button-positive activated">Fin Pause</button>
        </div>

        Nombre de Points {{ point }} 
        <div class="button-bar">
          <a class="round-btn" ng-click="setPoint(0)">0</a><span> </span>
          <a class="round-btn" ng-click="setPoint(1)">1</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(2)">2</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(3)">3</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(4)">4</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(5)">5</a> <span> </span>
        </div>
        <div class="button-bar">
          <a class="round-btn" ng-click="setPoint(6)">6</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(7)">7</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(8)">8</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(9)">9</a> <span> </span>
          <a class="round-btn" ng-click="setPoint(10)">10</a>
        </div>

               Décimales
        <div class="button-bar">
          <a class="round-btn" ng-click="setDecimal(0.1)">1</a>
          <a class="round-btn" ng-click="setDecimal(0.2)">2</a>
          <a class="round-btn" ng-click="setDecimal(0.3)">3</a>
          <a class="round-btn" ng-click="setDecimal(0.4)">4</a>
          <a class="round-btn" ng-click="setDecimal(0.5)">5</a>
        </div>
        <div class="button-bar">
          <a class="round-btn" ng-click="setDecimal(0.6)">6</a>
          <a class="round-btn" ng-click="setDecimal(0.7)">7</a>
          <a class="round-btn" ng-click="setDecimal(0.8)">8</a>
          <a class="round-btn" ng-click="setDecimal(0.9)">9</a>
        </div>
        <div class="padding">
          <button ng-click="nextShoot()" class="button button-block button-positive activated">Suivant</button>
        </div>
      </ion-content>
    </ion-modal-view>